<h1>Quote#invitation_create</h1>

<p>
  hi, i am looking for a person coversing <%=@quote.name%> particularly. This is a date: <strong><%= @quote.date%> </strong>.

  I am having a per person budget of<strong> <%= @quote.budget%></strong> and a gathering of <strong><%= @quote.guest%></strong>

  This is some extra things that i wpould like to Address:
  
  <p><%= @quote.comment%></p>

</p>
