<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Address</th>
      <th scope = "col">Action</th> 
    </tr>
  </thead>
  <tbody>
<% @v.vendors.each do |v|%>
    <tr>
      <th scope="row">1</th>
      <td><%= v.user.fname %>  <%= v.user.lname %> </td>
      <td><%= v.description%></td>
      <td><%= v.website%></td>
      <td><%=button_to "Book Now"%>
    </tr>
  </tbody>
<%end%>

</table>



