<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Address</th>
      <th scope = "col">Action</th> 
    </tr>
  </thead>
  <tbody>
<% @v.vendors.each do |v|%>
    <tr>
      <th scope="row">1</th>
      <td><%= v.user.fname %>  <%= v.user.lname %> </td>
      <td><%= v.description%></td>
      <td><%= v.website%></td>
      <td><%=link_to "Submit Booking", new_booking_path(:event_id => @v.id, :user_id=> current_user.id,:vendor_id=>v.id),data: { bs_toggle: 'modal',bs_target: "#newBooking",remote: true } %></td> 
      <%# <td><%=button_to "Submit Payment", bookings_path(:event_id => @v.id, :user_id=> current_user.id,:vendor_id=>v.id),data: { bs_toggle: 'modal',bs_target: "#newBooking",remote: true }%> %>
      <%# <td><%= button_to 'BookNow', {:controller => "bookings", :action => "create", :event_id => @v.id, :user_id=> current_user.id,:vendor_id=>v.id } , :method=>:post  %> %>
    </tr>
  </tbody>
<%end%>

</table>






<div class="modal fade" id="newBooking" tabindex="-1" aria-labelledby="newBookingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newVendorLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id = "newBookingForm">
      </div>
     
    </div>
  </div>
</div>











<script>
  var stripe = Stripe('<%= Rails.application.credentials.stripe[:public_key]%>');
  
</script>